.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    width: 400px; /* 가로 길게 설정 */
    height: 300px; /* 정사각형에서 약간 길게 설정 */
    border-radius: 20px; /* 둥근 모서리 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    justify-content: center;
    align-items: center;
}

.loader-wrapper {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    width: 100%; /* 너비를 100%로 설정하여 부모 요소에 맞추기 */
    margin-bottom: 20px; /* 텍스트와 로더 사이의 간격 */
}

.text-content {
    font-size: 10px; /* 텍스트 크기 조정 */
    font-weight: 300; /* 글꼴 얇게 설정 */
    color: black;
    text-align: center;
}
