/* 팝업 전체 오버레이 스타일 */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 팝업 내용 스타일 */
.popup-content {
  background: white;
  padding: 40px;
  width: 600px;
  height: 500px;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; 
}

/* 닫기 버튼 스타일 */
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #ff5c5c;
  border: none;
  border-radius: 50%;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.popup-box {
  width: 145%;
  max-width: 700px;
  height: 500px; /* 픽셀로 고정 */
  padding: 40px;
  font-size: 15px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


/* 선택 버튼 컨테이너 스타일 */
.select-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* 텍스트 콘텐츠 스타일 */
.text-content {
  font-weight: normal !important;
  font-size: 20px !important;
}


/* 강조 텍스트 스타일 */
.highlight {
  color: #007BFF;
}

/* 기본 버튼 스타일 (선택 버튼) */
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: normal;
}

/* 버튼 호버 스타일 */
.button:hover {
  background-color: #45a049;
}
